
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="~/BitirmeProjesiYeni/css/giris.css">
</head>
<body>
    <div class="box">
        <form autocomplete="off">
            <h2>Healthy Life</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Kullanıcı adı</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Şifre</span>
                <i></i>
            </div>
            <div class="links">
                <a href="/Default/Anasayfa/">AnaSayfaya dön</a>
                <a href="/Default/KayıtOl/">Kayıt ol</a>
            </div>
            <input htype="submit" onclick="location.href='/Default/Profil/';" value="Giriş Yap">
        </form>
    </div>
</body>
</html>